<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>功能展示页面</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

</head>
<body>
	</head>
<body>
	<nav class="navbar navbar-default">	
	    <a class="navbar-brand" ><img src="../static/images/icon.png" alt="Brand" style="width: 19px"></a>
		<a class="navbar-brand" id="topblock_1" style="color: #20B2AA">图书管理</a>
	</nav>
	<div class="page-header">
	   <h1>&nbsp;</h1>
		<h1>&nbsp;</h1>
       <h1 style="text-align:center;color: #20B2AA;font-size: 50px;">轻便图书管理 
		   <p style="font-size: 15px;">&nbsp;</p>
		   <p style="color: gainsboro;font-size: 30px;">添加/查询书本</p>
		   <p style="font-size: 15px;">&nbsp;</p>
		   <p style="background-color:#20B2AA ;width: 14%;position: absolute;left: 43%;font-size: 20px;color: white;height: 30px;line-height: 1.4">立即使用</p>
		</h1>
    </div>
		<canvas id="Mycanvas"></canvas>
	<script src="../static/js/backgroud.js"></script>
</body>